@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink&display=swap');
*{
    margin: 0;
    padding: 0;
}

.logo{
    font-weight: bold;
    font-size: 32px;
}

nav a{
    color: darkorchid;
    text-decoration: none;
}

nav{
    padding: 10px 100px;
    background-color: aqua;
    color: darkorchid;
    display: flex;
    position: fixed;
    right: 0;
    left: 0;
    justify-content: space-between;
}

.nav-link{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item{
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.nav-item a:hover{
    color: black;
    transform: scale(2.5);
    transition: all 2s ease;
}

.container{
    background-color: darkblue;
    color: white;
    padding: 60px 100px;
    font-family: 'Aref Ruqaa Ink', serif;
}